<!DOCTYPE html>
<head>
  <meta charset="utf-8">
  <title>Maryland Accident Map</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/bootstrap/css/bootstrap.css">
  <link rel="stylesheet" href="app.css">
  <script src="/jquery/jquery.js"></script>
  <script src="/lodash/lodash.js"></script>
  <script src="/bootstrap/js/bootstrap.js"></script>
  <script src="/vue/vue.js"></script>
  <script src="/vue-ui/index.js"></script>
  <script src="/vue-gm/vue-google-maps.js"></script>

  <script src="app.js"></script>
  <script src="components/filter_panel.js"></script>
</head>
<body>
  <div class="content">
    <div id="app-container">
      <div class="page-header">
        <h1 class="center">Maryland Accident Map</h1>
      </div>
      <div class="message-bar" v-if="displayMessageBar">
        {{ message }}
      </div>
      <div class="filter-bar">
        <filter-panel
          :report-types="reportTypes"
          :dates="dates"
          :default-date="firstDate"
          @filter="redrawMarkers">
        </filter-panel>
      </div>
      <div class="pull-left fixed-left-panel accident-panel">

        <div id="accordion" role="tablist" aria-multiselectable="true">
          <div class="card" v-for="markerData in markers">
            <div class="card-header" role="tab">
              <h5 class="mb-0">
                <a data-toggle="collapse" data-parent="#accordion" aria-expanded="true" @click="toggleVisibility(markerData.id)">
                  {{ markerData.id }}
                </a>
              </h5>
            </div>
            <div v-show="selectedAccidentId === markerData.id" role="tabpanel">
              <div class="card-block" style="margin-left:4px; border: 1px dotted black;">
                <label>Date:</label> <span>{{ markerData.date }}</span><br />
                <label>Time:</label> <span>{{ markerData.time }}</span><br />
                <label>Report Type:</label> <span>{{ markerData.reportType }}</span><br />
                <label>Vehicle:</label> <span>{{ markerData.vehicle.year }} {{ markerData.vehicle.make }} {{ markerData.vehicle.model }}</span>
              </div>
            </div>
          </div>
        </div>

      </div>
      <div class="pull-left" style="border: 1px solid black;">

        <gmap-map
          :center="{lat: 39.183917, lng: -76.805643}"
          :zoom="8"
          map-type-id="terrain"
          style="width: 800px; height: 700px">
          <gmap-marker
            :key="index"
            v-for="(m, index) in markers"
            :position="m.position"
            :clickable="true"
            :draggable="true"
            @click="center=m.position">
          </gmap-marker>
        </gmap-map>

      </div>
    </div>

  </body>
</html>
