<div class="content">
  <div class="container">
    <div class="page-header">
      <h1 class="center">Maryland Accident Map</h1>
      <h2 class="center">
        Select a date:
        <select id="dateFilter" (change)="updateFilter($event)">
          <option
            *ngFor="let accidentDate of accidentDates"
            [value]="accidentDate"
            [selected]="accidentDate == selectedDate"
          >
            {{ accidentDate }}
          </option>
        </select>
      </h2>
    </div>
    <app-details-panel
      [accidentList]="accidentsByDate"
      [selectedAccidentId]="selectedAccidentId"
      (selectAccident)="onSelectAccident($event)"
    >
    </app-details-panel>
    <app-map-panel
      [accidentList]="accidentsByDate"
      [selectedAccidentId]="selectedAccidentId"
      (selectAccident)="onSelectAccident($event)"
    >
    </app-map-panel>
  </div>
</div>
